.profile-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.profile-container h1 {
  grid-column: 1 / -1;
}

.profile-heading h2 {
  margin: 5px 0 0;
  padding: 0;
}

.profile-heading p {
  margin: 0;
  padding: 0;
}

.profile-details {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-detail {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.profile-detail h5 {
  text-transform: uppercase;
}

.profile-detail h5,
.profile-detail p {
  margin: 0;
}